body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #f1f1f1;
}

html, body, h1, h2, h3, h4, h5, h6, p
{
    font-family: 'Roboto', sans-serif;
    color:#777;
}

.section {
    margin: 0;
    padding: 0 15px;
}

.header {
    position: absolute;
    left: 0;
    right: 0;
}

.header-content {
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
}

.logo {
    max-width: 100px;
    object-fit: cover;
    margin-left: 10px;
}

@media screen and (max-width: 767px) and (min-width: 375px) {
    .logo {
        max-width: 65px;
    }
}


.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.menu-item a {
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
    font-size: 22px;
    display: block;
    border-radius: 8px;
    margin: 5px;
}

.menu-item a:hover {
    background: rgba(232,232,232,0.5);
}

.intro {
    background-image: url('../assets/intro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #ffffff;
    font-size: 60px;
    margin-bottom: 0;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
}

.subtitle {
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 0;
    font-weight: lighter;
}

.buttons-container {
    display: flex;
}

@media screen and (max-width: 767px) and (min-width: 375px) {
    .buttons-container {
        display: initial;
    }
}

.button {
    outline: none;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    min-width: 255px;
    border: 2px solid #fff;
    border-radius: 7px;
    margin: 35px 13px;
    padding: 15px;
    color: white;
    text-align: center;
}

.button.secondary {
    color: #777777;
    background-color: white;
}

.button:hover {
    background-color: rgba(232,232,232,0.5);
}

.narrow-section {
    max-width: 1280px;
    margin: 0 auto;
}

.advantages {
    margin-top: -120px;
}

.advantages-items {
    border-radius: 12px;
    background: #fff;
    padding: 30px 70px;
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 767px) and (min-width: 375px) {
    .advantages-items {
        display: block;
    }
}

.advantages-item {
    flex-basis: 50%;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
}

.advantages-item__img {
    padding: 20px;
    display: inline-block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.advantages-item:nth-child(1) .advantages-item__img {
    background-color: red;
}

.advantages-item:nth-child(2) .advantages-item__img {
    background-color: green;
}

.advantages-item:nth-child(3) .advantages-item__img {
    background-color: blue;
}

.advantages-item:nth-child(4) .advantages-item__img {
    background-color: yellow;
}

.advantages-item__img img{
    width: 80%;
}


.card-title {
    font-size: 32px;
}

.card-text {
    font-size: 18px;
    line-height: 1.9;
}

.about {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

@media screen and (max-width: 767px) and (min-width: 375px) {
    .about {
        display: block;
    }
}

.about-item {
    flex-basis: 48%;
    border-radius: 7px;
    overflow:hidden;
    text-align: center;
    background: #fff;
}

@media screen and (max-width: 767px) and (min-width: 375px) {
    .about-item {
        margin-bottom: 15px;
    }
}


.about-item__content {
    padding: 20px;
}

.about-item__bcgr {
    background: url('../assets/banner.jpg');
    height: 275px;
}

.card-button {
    min-width: 175px;
    border: 1px solid black;
    display: inline-block;
    padding: 15px;
    cursor: pointer;
}

.card-button:hover {
    background-color: rgba(86, 84, 84, 0.29);
}

.footer {
    background: #ff8787;
}

.sign-up-form-container {
    background-color: #ff8787;
    box-sizing: border-box;
    text-align: center;
    padding: 65px;
}

@media screen and (max-width: 767px) and (min-width: 375px) {
    .sign-up-form-container {
        padding: 0;
    }
}

@media screen and (max-width: 767px) and (min-width: 375px) {
    .footer .title {
        font-size: 35px;
        margin: 0;
        padding-top: 25px;
    }


    .footer .subtitle {
        font-size: 20px;
    }
}

.footer-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 767px) and (min-width: 375px) {
    .footer-form {
        display: block;
        margin-top: 15px;
    }

    .footer-form-input {
        box-sizing: border-box;
        width: 100%;
    }

    .footer .button.secondary {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.footer-form-input {
    border-radius: 7px;
    padding: 15px 10px;
    font-size: 24px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
    border: 0;
    outline: none;
}

.social-media {
    background-color: #e89980;
    text-align: center;
    padding: 10px;
}

.social-media img{
    cursor: pointer;
    width: 40px;
    padding: 10px;
}
/*.send-mail h2{*/
/*    color: #fff;*/
/*    font-size: 3em;*/
/*    font-weight: lighter;*/
/*}*/
/*.send-mail p{*/
/*    color: #fff;*/
/*}*/
/*.sign__button{*/
/*    cursor: pointer;*/
/*    width: 170px;*/
/*    height: 45px;*/
/*    display: inline-block;*/
/*    border: 2px solid #fff;*/
/*    border-radius: 7px;*/
/*    margin: 35px 13px;*/
/*    padding: 8px;*/
/*    font-size: 1.3em;*/
/*    background: #fff;*/
/*    vertical-align: middle;*/
/*}*/
/*.send-mail input{*/
/*    height: 45px;*/
/*    border-radius: 7px;*/
/*    padding: 10px;*/
/*    font-size:1.2em;*/
/*}*/
/*footer{*/
/*    background: #e89980;*/
/*    padding: 50px;*/
/*    width: 100%;*/
/*    text-align: center;*/
/*}*/
/*footer img{*/
/*    width: 80px;*/
/*    display: inline-block;*/
/*    padding: 10px;*/
/*}*/

